@use "../../SassStyles/variables";

.singlepost {
  width: 300px;
  padding: 0.5rem;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 0.8rem;
    text-align: center;
    text-transform: capitalize;
  }

  p {
    text-align: center;
  }
}

.singlepost:hover {
  background: variables.$vermillion;
  color: white;
  border: 1px solid variables.$vermillion;
  cursor: pointer;
}

.action-singlepost {
  width: 300px;
  padding: 0.5rem;
  color: white;
  border: 1px solid variables.$vermillion;
  border-radius: 5px;
  transition: all 0.2s;
  position: relative;
  background: variables.$vermillion;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3rem;
}
