@use "../../SassStyles/variables";

.singlepostpage {
  .container {
    margin-top: 3rem;
    text-align: center;
    width: 70%;

    .singlepostpage-content {
      border-radius: 8px;
      padding: 3rem;
      background: variables.$vermillion;

      h2 {
        margin-bottom: 3rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
        border-bottom: 2px solid;
      }

      h5 {
        padding: 0 3rem;
        font-weight: 400;
      }
    }
  }

  .singlepostpage-actions {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .close-btn {
      position: relative;
    }
  }
}

@media only screen and (max-width: 600px) {
  .singlepostpage {
    .container {
      width: 90%;

      h2 {
        font-size: 16px;
      }
    }
  }
}
