@use "../../SassStyles/variables";

.header {
  background: variables.$vermillion;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.4rem;

    .header__logo {
      font-size: 32px;
      font-weight: 600;
      cursor: pointer;
      transition: ease 0.3s;

      &:hover {
        font-size: 34px;
      }
    }
  }
}
