.addpost {
  .container {
    display: flex;
    justify-content: center;
    width: 100%;

    form {
      margin-top: 3rem;
      width: 50%;

      .formlabel {
        color: black;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0.6rem;
        display: inline-block;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 8px;
        margin-bottom: 1.2rem;
      }

      textarea {
        height: 200px;
      }

      .close-btn {
        position: relative;
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .addpost {
    .container {
      form {
        width: 80%;
      }
    }
  }
}
