@use "./SassStyles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: variables.$fresh;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.close-btn {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid white;
  background: white;
  color: variables.$vermillion;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: large;
  cursor: pointer;

  .link {
    color: variables.$vermillion;
  }
}

.outline-btn {
  padding: 0.5rem 1rem;
  border: 1.5px solid white;
  background: transparent;
  color: white;
  border-radius: 50px;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s;
}

.outline-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid white;
  background: white;
  color: variables.$vermillion;

  .link {
    color: variables.$vermillion;
  }
}

.link {
  text-decoration: none;
  color: white;
}
